<h1><%= "Add a rating to #{@list.name}" %></h1>

 <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
  <%= f.association :movie, prompt: 'Select a movie' %>
  <%= f.submit "Save it" %>
<% end %>
<br>
<br>
<%= link_to 'Go to your lists', lists_path, class: "btn btn-secondary" %>
<%= link_to 'Go to your movies', movies_path, class: "btn btn-success" %>
