<h1>Create a new movie</h1>

<%= simple_form_for @movie do |f| %>
  <%= f.input :title %>
  <%= f.input :overview %>
  <%= f.input :rating %>
  <%= f.submit "Add it" %>
<% end %>
<br>
<br>
<%= link_to 'Go to your lists', lists_path, class: "btn btn-secondary" %>
<%= link_to 'Go to your movies', movies_path, class: "btn btn-success" %>
